.card-main {
	flex-basis: 23.4%;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
	position: relative;
	margin-right: 25px;
	margin-bottom: 25px;
	min-height: 248px;
	overflow: hidden;
	position: relative;
}
.card-main:nth-child(4n) {
	margin-right: 0;
}
.card-bg {
	padding-bottom: 56%;
	width: 100%;
	position: relative;
}
.card-main img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cardAvatar {
	width: 98px;
	height: 98px;
	margin: 0 auto;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 22px;
	margin-left: -45px;
	border: 2px solid #fff;
	border-radius: 50%;
}
.cardAvatar img {
	border-radius: 50%;
}
.card-content {
	padding: 50px 15px 20px;
	text-align: center;
}
.card-content .username {
	font-family: PingFangTC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #2b2b2b;
	margin-bottom: 5px;
}
.card-content .jobTitle {
	font-family: PingFangTC;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #2b2b2b;
}
.card-content hr.top {
	margin: 10px auto;
	color: #e6e6e6;
	width: 30px;
}
.card-content .summary {
	color: #666;
	height: 42px;
	overflow: hidden;
}
.card-content .summary p {
	margin-bottom: 0;
}

@media only screen and (max-width: 1280px) {
	.card-main {
		flex-basis: 23%;
	}
}

@media only screen and (max-width: 1024px) {
	.card-main {
		flex-basis: 22.8%;
	}
	.cardAvatar {
		width: 88px;
		height: 88px;
		margin-top: 16px;
		margin-left: -41px;
	}
}
@media only screen and (max-width: 950px) {
	.card-main {
		flex-basis: 22.6%;
	}
}
@media only screen and (max-width: 900px) {
	.card-main {
		flex-basis: 31.1%;
	}
	.card-main:nth-child(4n) {
		margin-right: 25px;
	}
	.card-main:nth-child(3n) {
		margin-right: 0;
	}
	.cardAvatar {
		width: 98px;
		height: 98px;
		margin-top: 18px;
		margin-left: -46px;
	}
}
@media only screen and (max-width: 854px) {
	.card-main {
		flex-basis: 31%;
	}
}
@media only screen and (max-width: 823px) {
	.card-main {
		flex-basis: 30.9%;
	}
}
@media only screen and (max-width: 800px) {
	.card-main {
		flex-basis: 30%;
	}
}
@media only screen and (max-width: 731px) {
	.card-main {
		flex-basis: 47%;
	}
	.card-main:nth-child(3n) {
		margin-right: 25px;
	}
	.card-main:nth-child(2n) {
		margin-right: 0;
	}
	.cardAvatar {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 640px) {
	.card-main {
		flex-basis: 47%;
	}
	.cardAvatar {
		margin-top: 26px;
	}
}
@media only screen and (max-width: 600px) {
	.card-main {
		flex-basis: 47.5%;
	}
}
@media only screen and (max-width: 568px) {
	.card-main {
		flex-basis: 47.1%;
	}
	.cardAvatar {
		width: 88px;
		height: 88px;
		margin-top: 18px;
		margin-left: -41px;
	}
}
@media only screen and (max-width: 533px) {
	.card-main {
		flex-basis: 46.7%;
	}
}
@media only screen and (max-width: 480px) {
	.card-main {
		flex-basis: 100%;
	}
	.cardAvatar {
		width: 105px;
		height: 105px;
		margin-top: 60px;
		margin-left: -50px;
	}
	.card-main:nth-child(3n) {
		margin-right: 0;
	}
	.card-main {
		margin-right: 0;
	}
}
@media only screen and (max-width: 414px) {
	.cardAvatar {
		margin-top: 45px;
	}
}
@media only screen and (max-width: 375px) {
	.cardAvatar {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 320px) {
	.cardAvatar {
		margin-top: 22px;
	}
}
